{
	"arrowParens": "always",
	"bracketSpacing": true,
	"htmlWhitespaceSensitivity": "strict",
	"insertPragma": false,
	"bracketSameLine": false,
	"jsxSingleQuote": true,
	"proseWrap": "preserve",
	"quoteProps": "as-needed",
	"requirePragma": false,
	"semi": false,
	"singleQuote": true,
	"tabWidth": 4,
	"useTabs": true,
	"trailingComma": "all",
	"vueIndentScriptAndStyle": false,
	"printWidth": 80
}
